@{
    ViewBag.Title = "A propos";
}

<div id="wrap-body" class="container body-content">
    <div class="container">
        <div class="wrap-body-inner">
            <h2>@ViewBag.Title</h2>
            <h3>@ViewBag.Message</h3>

            <p>A propos de notre projet qui consiste a créer une application Web pour recommandation.</p>
            </div>
        </div>
</div>
